<h1>We ship yo package fast. Really fast.</h1>
<h2>You enter info below, we rip you off now.</h2>

<form action="/parcel_results">

  <div class="form-group">
    <label for="height">Enter Height</label>
    <input id="height" name="height" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="width">Enter Width</label>
    <input id="width" name="width" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="length">Enter Length</label>
    <input id="length" name="length" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="weight">Enter Weight</label>
    <input id="weight" name="weight" class="form-control" type="text">
    </br>
  </div>

  <div class="form-group">
    <label for="shipping_class">Enter Shipping Class</label></br>
    <input type="radio" id = "first" name="shipping_class" value=3 checked>First Class</br>
    <input type="radio" id = "second" name="shipping_class" value=2>Second Class</br>
    <input type="radio" id = "third" name="shipping_class" value=1>Third Class</br>
    </br>
  </div>

  <button type="submit" class="btn btn-warning">Go!</button>
</form>
